<h1 style="margin: 50px">Welcome</h1>

<div class="info">
  <div class="info-block">
    <h2>checkHealth:</h2>
    <h3>status : {{ checkHealth().status_code }}</h3>
    <h3>details : {{ checkHealth().detail }}</h3>
    <h3>result : {{ checkHealth().result }}</h3>
  </div>

  <div class="info-block">
    @if (currentUser()) {
    <h2>User-info:</h2>

    <h3>avatar :</h3>
    <p>
      {{ currentUser().avatar }}
    </p>
    <h3>name : {{ currentUser().name }}</h3>
    <h3>email : {{ currentUser().email }}</h3>
    }
  </div>
</div>
