<div class="auth">
  <div class="auth-form">
    @if(err().message){
    <div class="error">
      <h2>error status code: {{ err().statusCode }}</h2>
      <h2>{{ err().message }}</h2>
    </div>
    }
    <form class="auth-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2>Sign In</h2>
      <div class="small-form">
        <label class="control-label">
          Email
          <input
            formControlName="email"
            type="email"
            placeholder="Enter email"
            class="auth-input"
          />
        </label>
        @if (loginForm.value.email) { @if
        (loginForm.get('email')?.errors?.['required']) {
        <small>Email is required.</small>
        } @if (loginForm.get('email')?.errors?.['pattern']) {
        <small>Please enter a valid email.</small>}}
      </div>
      <div class="small-form">
        <label class="control-label">
          Password (example: <strong>1!qQ</strong> )
          <input
            formControlName="password"
            type="password"
            placeholder="Enter password"
            class="auth-input"
          />
        </label>
        @if (loginForm.value.password) { @if
        (loginForm.get('password')?.errors?.['required'] ) {
        <div><small>Password is required.</small></div>
        } @if (loginForm.get('password')?.errors?.['minlength']) {
        <div><small>Minimum 4 characters required.</small></div>
        } @if (loginForm.get('password')?.errors?.['hasUpperCase']) {
        <div><small>Password needs at least 1 uppercase letter.</small></div>
        } @if (loginForm.get('password')?.errors?.['hasLowerCase']) {
        <div><small>Password needs at least 1 lowercase letter.</small></div>
        } @if (loginForm.get('password')?.errors?.['hasNumericChar']) {
        <div><small>Password needs at least 1 number.</small></div>
        } @if (loginForm.get('password')?.errors?.['hasSpecialChar']) {
        <div><small>Password needs at least 1 special character.</small></div>
        }}
      </div>
      <button type="submit" class="btn btn-shadow">Sign In</button>
    </form>
    <button class="btn btn-shadow" (click)="auth0login()">Auth0</button>
  </div>
</div>

<div class="auth">
  <nav>
    <app-logo
      [angularWidth]="angularWidth"
      [nestjsWidth]="nestjsWidth"
    ></app-logo>
    <ul class="logo-nav">
      <li>
        <a routerLink="/auth/sign_up" class="menu-item bg">Sign up</a>
      </li>
      <li>
        <a routerLink="/" class="menu-item bg">Welcome</a>
      </li>
    </ul>
  </nav>
</div>
