<div class="modal-overlay" (click)="$event.stopPropagation()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="close-btn__container">
      <button class="close-btn close-primary" (click)="closeInfo()">X</button>
    </div>
    <h1>Quiz info</h1>
    <div class="form-container">
      <form
        class="auth-form w100"
        [formGroup]="infoForm"
        (ngSubmit)="onInfoSubmit($event)"
      >
        <div class="small-form">
          <label class="control-label"
            >Title
            <input
              formControlName="title"
              type="text"
              placeholder="Enter title"
              size="10"
              oninput="this.size=Math.max(this.value.length, 10)"
              class="quiz-input"
            />
          </label>
          @if (infoForm.get('title')?.errors?.['required']) {
          <small>Title is required.</small>} @if (infoForm.value.title) { @if
          (infoForm.get('title')?.errors?.['minlength']) {
          <small>Minimum 2 characters required.</small>}}
        </div>
        <div class="small-form">
          <label class="control-label"
            >Description
            <input
              formControlName="description"
              type="text"
              placeholder="Describe quiz"
              size="10"
              oninput="this.size=Math.max(this.value.length, 10)"
              class="quiz-input"
            />
          </label>
          @if (infoForm.get('description')?.errors?.['required']) {
          <small>Description is required</small>} @if
          (infoForm.value.description) { @if
          (infoForm.get('description')?.errors?.['minlength']) {
          <small>Minimum 8 characters required.</small>}}
        </div>
        <div class="small-form">
          <label class="control-label">
            Number indicating quiz frequency in days
            <input
              formControlName="frequency"
              type="number"
              placeholder="Quiz frequency"
              class="quiz-input"
            />
          </label>
          @if (infoForm.get('frequency')?.errors?.['required']) {
          <small>Frequency is required</small>} @if (infoForm.value.frequency) {
          @if (infoForm.get('frequency')?.errors?.['min']) {
          <small>Min 1 day</small>} @if
          (infoForm.get('frequency')?.errors?.['max']) {
          <small>Max 30 days</small>}}
        </div>
        <button class="btn" type="submit" style="width: 300px">Confirm</button>
      </form>
    </div>
  </div>
</div>
